.t-topbar-header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000
}

.t-topbar-header {
  background-color: #1f1b34;
  display: flex;
  height: 86px;
  overflow: visible;
  padding: 0;
  transition: all .5s;
  width: 100%;
  z-index: 1000
}


.t-topbar-header-content {
  box-sizing: initial;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 16px
}

.t-nav-dropdown .t-title {
  color: #1f2033;
  display: block;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap
}

.t-nav-dropdown .t-description {
  color: #1f2033cc;
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
  margin-top: 6px
}

.t-nav-dropdown .t-link {
  color: #0009;
  display: flex;
  margin: 10px 0;
  padding: 10px 20px;
  position: relative;
  white-space: normal
}

.t-flex-between {
  justify-content: space-between
}

.t-download {
  border: 1px solid #302154;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
  letter-spacing: 1px;
  width: 170px
}

.t-nav-dropdown .dropdown-menu {
  transform: translateX(-50%);
  left: 50% !important;
  background-clip: padding-box;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 15px 0 #00000014;
  padding: 12px 0;
  text-align: left;
  transition: all .1s ease;
  font-size: 16px;
  margin: -4px 0 0;
  max-height: 500px;
  min-width: 160px;
  padding: 7px 0 0;
  position: absolute;
  top: 100%;
  width: 400px;
  z-index: 1000;
  margin-top: 6px;
}

.t-nav-dropdown .dropdown-toggle::after {
  border-color: #fff;
  border-style: solid;
  border-width: 0 1px 1px 0;
  content: "";
  display: inline-block;
  height: 0;
  left: 8px;
  margin-left: .255em;
  padding: 3px;
  position: relative;
  transform: rotate(45deg);
  vertical-align: .255em;
  width: 0
}

.t-nav-dropdown .nav-link {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  list-style: none;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  opacity: .8;
  transition: all .35s ease;
}

.t-nav-dropdown {
  padding: 0 16px;
}

.t-nav-dropdown .dropdown-toggle .x-tag {
  margin-right: 8px;
  top: -1px
}