.x__topbar-header__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}

.x__topbar-header {
    background-color: #1f1b34;
    display: flex;
    height: 86px;
    overflow: visible;
    padding: 0;
    transition: all .5s;
    width: 100%;
    z-index: 1000
}


.x__topbar-header-content {
    box-sizing: initial;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 16px
}



.x__topbar-header--collapsed .x__topbar-header__logo {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0
}

.x__topbar-header--minimal .x__topbar-header__logo {
    margin: 27px auto
}


.x__topbar-header--collapsed .x__topbar-header__logo a,
.x__topbar-header--minimal .x__topbar-header__logo a {
    width: 32px
}

.x__topbar-header--collapsed .x__topbar-header__logo a:after,
.x__topbar-header--minimal .x__topbar-header__logo a:after {
    opacity: 0;
    transform: translateX(-10px);
    visibility: visible
}

.x__topbar-header--full-logo .x__topbar-header__logo {
    margin: 27px auto;
    padding-right: 91px
}

.x__topbar-header--full-logo .x__topbar-header__logo a:after {
    opacity: 1;
    transform: none;
    visibility: visible
}

.x__topbar-header--transparent {
    background: none
}

.x__topbar-header--black {
    background-color: #000
}

  .x__topbar-header-navigation {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0
  }



  .x__topbar-header-navigation-item__home {
    display: none;
    opacity: .8
  }


  .t__nav-dropdown .x__title {
    color: #1f2033;
    display: block;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap
  }

  .t__nav-dropdown .x__description {
    color: #1f2033cc;
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    margin-top: 6px
  }

  .t__nav-dropdown .x__link {
    color: #0009;
    display: flex;
    margin: 10px 0;
    padding: 10px 20px;
    position: relative;
    white-space: normal
  }

  .t__nav-dropdown .x__link:after,
  .t__nav-dropdown .x__link:before {
    content: "";
    height: 44px;
    width: 44px
  }

  .t__nav-dropdown .x__link:before {
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
    justify-content: center;
    margin: 2px 16px 0 0;
    opacity: .8
  }



  .t__nav-dropdown .x__link:after {
    background: url(/static/nav-icons-sprite-f01ec70a241175c7d16aa37cd3294999.svg) no-repeat;
    display: block;
    left: 20px;
    overflow: hidden;
    position: absolute;
    top: 11px
  }



  .t__flex-between {
    justify-content: space-between
  }

  .x__download {
    border: 1px solid #302154;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    letter-spacing: 1px;
    width: 170px
  }

  .x__download:active,
  .x__download:active:hover,
  .x__download:focus,
  .x__download:hover {
    color: #fff;
    opacity: 1;
    text-decoration: none
  }

  .x__download,
  .x__download:active,
  .x__download:active:hover,
  .x__download:focus,
  .x__download:hover {
    transition: all .2s linear
  }


  .t__nav-dropdown .dropdown-menu {
    transform: translateX(-50%);
    left:50% !important;
    background-clip: padding-box;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 #00000014;
    padding: 12px 0;
    text-align: left;
    transition: all .1s ease;
    font-size: 16px;
     margin: -4px 0 0;
    max-height: 500px;
    min-width: 160px;
    padding: 7px 0 0;
    position: absolute;
    top: 100%;
    width: 400px;
    z-index: 1000;
    margin-top:6px;
    
  }

  .t__nav-dropdown .dropdown-toggle::after {
    border-color: #fff;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    height: 0;
    left: 8px;
    margin-left: .255em;
    padding: 3px;
    position: relative;
    transform: rotate(45deg);
    vertical-align: .255em;
    width: 0
  }
  


 
  .t__nav-dropdown .dropdown-toggle--open,
  .t__nav-dropdown .dropdown-toggle:active,
  .t__nav-dropdown .dropdown-toggle:focus,
  .t__nav-dropdown .dropdown-toggle:hover {
    opacity: 1;
    outline: 0
  }


  .t__nav-dropdown .nav-link {
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    opacity: .8;
    transition: all .35s ease;
  }

  .t__nav-dropdown {
    padding:0 16px;
  }

  .t__nav-dropdown .dropdown-toggle .x-tag {
    margin-right: 8px;
    top: -1px
  }

