.t-asset-page-header-content {
  margin: 162px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1
}

.t-asset-page-header-heading {
  color: #fff;
  font-size: 64px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 20px
}

.t-asset-page-header-subheading {
  color: #fff9;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 10px
}

.t-asset-page-header-actions {
  display: flex;
  gap: 20px;
  margin-top: 40px
}

.t-platform-dropdown .t-toggle {
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  height: 60px;
  justify-content: center;
  margin: 0 8px;
  opacity: .8;
  padding: 16px 24px;
  transition: opacity .2s ease;
  background: linear-gradient(to right, #FFC82D, #FE9D39);
  width: 264px;
}


.t-platform-dropdown .t-toggle-icon {
  align-items: center;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  min-width: 24px
}

.t-platform-dropdown .t-toggle-label {
  color: #fff;
  display: block;
  flex-grow: 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
  text-align: center;
  text-transform: uppercase
}

.t-platform-dropdown .t-toggle-picker {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end
}

.t-platform-dropdown .dropdown-toggle::after {
  display: none;
}


@media (max-width: 912px) {
  .x-break-sm {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;

  }
}