


.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%
}

  .t-asset-page-mobile-heading {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 20px
  }

  .t-asset-page-mobile-subheading {
    color: #fff9;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.87;
    margin-bottom: 0;
    margin-top: 10px;
    max-width: 770px
  }

  .t-asset-page-desktop {
    align-items: flex-start;
    background: #10101a;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1540px;
    padding: 140px 90px 90px;
    position: relative;
    width: calc(100% - 32px);
    z-index: 1
  }

  .t-asset-page-desktop-img-container {
    height: 600px;
    position: relative;
    width: 100%
  }

  .t-asset-page-desktop-img {
    height: 100%;
    position: relative;
    width: 100%
  }

  .t-asset-page-desktop-img>div {
    height: 100%;
    width: 100%
  }

  .t-asset-page-desktop-img>div img {
    object-fit: contain !important
  }

  .t-asset-page-desktop-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 46px 0 0;
    position: relative;
    text-align: center;
    width: 100%
  }

  .t-asset-page-desktop-heading {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 0
  }

  .t-asset-page-desktop-subheading {
    color: #fff9;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.87;
    margin-bottom: 0;
    margin-top: 20px;
    max-width: 770px
  }

  .t-asset-page-web3 {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1540px;
    overflow: hidden;
    padding: 10px 0 0;
    position: relative;
    width: calc(100% - 32px);
    z-index: 1
  }

  .t-asset-page-web3-img-container {
    height: 600px;
    position: relative;
    width: 100%
  }

  .t-asset-page-web3-img {
    height: 100%;
    position: relative;
    width: 100%
  }

  .t-asset-page-web3-img:after {
    background-image: url(/static/be_tab-lsize-e5844c9203d1129f62f1bf8b85a4236f.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: none;
    height: 30.5%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-.25%, 4%);
    width: 100%
  }

  .t-asset-page-web3-carousel-img>div,
  .t-asset-page-web3-img>div {
    height: 100%;
    width: 100%
  }

  .t-asset-page-web3-carousel-img>div img,
  .t-asset-page-web3-img>div img {
    border-radius: 0 !important;
    box-shadow: none !important;
    height: calc(100% + 6px) !important;
    left: -3px !important;
    object-fit: contain !important;
    top: -3px !important;
    width: calc(100% + 6px) !important
  }

  .t-asset-page-web3-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 0;
    position: relative;
    text-align: center;
    width: 100%
  }

 

  .t-section-download-heading {
    color: #fff;
    font-size: 48px;
    font-weight: 100;
    line-height: 1.25;
    margin: 0;
    text-align: center
  }

  .t-asset-icon--largest {
    height: 80px;
    width: 80px
  }




  .t-asset-page {
    background: #1f2033;
    max-width: 100%;
    overflow-y: hidden
  }

  .t-asset-page-background-container {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    will-change: transform;
    z-index: 0
  }


  .t-asset-page-background:after {
    background: linear-gradient(180deg, #1f203300, #1f2033);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

 

  .t-asset-page .t-section-supported-assets,
  .t-asset-page-about,
  .t-asset-page-chart,
  .t-asset-page-desktop,
  .t-asset-page-header,
  .t-asset-page-mobile,
  .t-asset-page-summary,
  .t-asset-page-web3 {
    margin: 0 auto 140px
  }



  


  body {
    background-color: #1f1b34
  }


  .container {
    max-width: 100% !important;
    padding-left: 24px;
    padding-right: 24px
  }

  .t-button {
    background-clip: padding-box !important;
    background-image: linear-gradient(281deg, #420be6, #a16bb3);
    background-size: 101%;
    border: 1px solid #0000;
    border-radius: 24px;
    box-shadow: 0 10px 30px 0 #6f39cd4d;
    color: #fff;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 48px;
    opacity: .8;
    outline: none;
    padding: 2px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .2s linear;
    width: 240px
  }

  .t-button:focus,
  .t-button:hover {
    color: #fff;
    opacity: 1;
    text-decoration: none
  }

  .t-button .t-button-align {
    border-radius: 24px;
    cursor: pointer;
    display: block;
    height: 100%;
    line-height: 42px
  }

  .t-button .t-button-align-text {
    align-items: center;
    display: flex;
    justify-content: center
  }



  .t-subscribe-module {
    margin-left: auto;
    max-width: 430px
  }


  .t-subscribe-module-heading {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.78;
    margin: 0 0 12px
  }



  .t-subscribe-module-copy {
    color: #ffffff80;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.87;
    margin: 12px 0 24px;
    text-align: left
  }





  .t-footer-navigation {
    display: flex
  }

  .t-footer-navigation-col {
    max-width: 212px;
    min-width: 180.2px;
    padding-right: 32px;
    position: relative
  }




  .t-footer-navigation-heading {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.78;
    margin: 0 0 12px
  }




  .t-copyright {
    align-items: center;
    display: inline-flex;
    margin: 60px 0
  }

  .t-copyright-logo {
    padding-right: 40px;
    text-align: right;
    width: 180px
  }

  .t-copyright-copy {
    border-left: 1px solid #313243;
    color: #ffffff4d;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-left: 40px;
    text-align: left
  }

  .t-terms {
    color: #ffffff4d;
    font-size: 12px;
    font-weight: 400;
    text-align: left
  }

  .t-terms a {
    color: #ffffff4d;
    display: inline-block;
    text-decoration: underline;
    transition: all .2s linear
  }

  .t-terms a+a {
    margin-left: 10px
  }

  .t-terms span {
    color: #ffffff4d;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    padding-bottom: 25px
  }
 

  .t-footer {
    background-color: #1f2033;
    border-top: 1px solid #ffffff1a;
    padding: 75px 0 120px;
    position: relative;
    text-align: center;
    z-index: 999
  }

  .t-footer-content {
    box-sizing: initial;
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 24px
  }

  .t-footer-content-top {
    display: flex;
    text-align: left;
    width: 100%
  }




  .btn {
    border: none;
}