.t-asset-page-mobile-heading {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 20px
}

.t-asset-page-mobile-subheading {
  color: #fff9;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.87;
  margin-bottom: 0;
  margin-top: 10px;
  max-width: 770px
}

.t-asset-icon--largest {
  height: 80px;
  width: 80px
}

.t-asset-page {
  background: #1f2033;
  max-width: 100%;
  overflow-y: hidden
}

.t-asset-page-background-container {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  will-change: transform;
  z-index: 0
}

.t-asset-page-background:after {
  background: linear-gradient(180deg, #1f203300, #1f2033);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

body {
  background-color: #1f1b34
}

.container {
  max-width: 100% !important;
  padding-left: 24px;
  padding-right: 24px
}

.t-button {
  background-clip: padding-box !important;
  background-image: linear-gradient(281deg, #420be6, #a16bb3);
  background-size: 101%;
  border: 1px solid #0000;
  border-radius: 24px;
  box-shadow: 0 10px 30px 0 #6f39cd4d;
  color: #fff;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 48px;
  opacity: .8;
  outline: none;
  padding: 2px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .2s linear;
  width: 240px
}

.t-button:focus,
.t-button:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none
}

.t-button .t-button-align {
  border-radius: 24px;
  cursor: pointer;
  display: block;
  height: 100%;
  line-height: 42px
}

.t-button .t-button-align-text {
  align-items: center;
  display: flex;
  justify-content: center
}

.btn {
  border: none;
}


@media (max-width: 912px) {
  .break-sm {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;

  }
}