.x__asset-page__summary__content{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 60px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%
}

.t__summary_section {
  margin: 0 auto 140px;
  max-width: 1000px;
}

.t__summary__list-items {
  width: calc(20%)
}